In [1]:
'''Objective: 
To perform the importing and extraction of data from different file formats and display the summary statistics.

Theory
In data science and machine learning, real-world data comes in various formats such as CSV, Excel, JSON, and SQL databases. To effectively analyze and model this data, it's essential to know how to import and extract it using tools like Pandas, a powerful Python library for data manipulation.

1. Importing Data from Different File Formats
 Pandas provides built-in functions to read from and write to multiple file types:
    (i) CSV (Comma-Separated Values): A simple text format where data is separated by commas. Imported using pd.read_csv().
    (ii) Excel: Common spreadsheet format with .xls or .xlsx extensions. Loaded using pd.read_excel().
    (iii)JSON (JavaScript Object Notation): A structured format often used in APIs and web data. Read using pd.read_json().
    (iv) SQL Databases: Structured data stored in relational databases. Accessed through pd.read_sql() in combination with a database connection (e.g., via SQLAlchemy).
 Each format has its own structure and use cases. Knowing how to work with all of them ensures flexibility in data handling.

2. Displaying Summary Statistics
Once data is imported, it is crucial to understand its characteristics before analysis. Pandas provides:
df.describe() – Computes summary statistics (mean, median, std, etc.) for numerical columns.
df.info() – Shows data types and non-null counts.
df.isnull().sum() – Identifies missing values.
df.dtypes – Reveals the data types of each column.
df.corr() – Calculates correlation coefficients between numerical columns to detect linear relationships.

Prerequisites:
•	Basic knowledge of Python programming.
•	Python environment setup with the necessary libraries installed.

Required Libraries
Ensure the following libraries are installed.
1.	Pandas
2.	Numpy
3.	Openpyxl
4.	Xlrd
5.	Sqlalchemy
Command to install using pip:
pip install pandas numpy openpyxl xlrd sqlalchemy'''

"Objective: \nTo perform the importing and extraction of data from different file formats and display the summary statistics.\n\nTheory\nIn data science and machine learning, real-world data comes in various formats such as CSV, Excel, JSON, and SQL databases. To effectively analyze and model this data, it's essential to know how to import and extract it using tools like Pandas, a powerful Python library for data manipulation.\n\n1. Importing Data from Different File Formats\n Pandas provides built-in functions to read from and write to multiple file types:\n    (i) CSV (Comma-Separated Values): A simple text format where data is separated by commas. Imported using pd.read_csv().\n    (ii) Excel: Common spreadsheet format with .xls or .xlsx extensions. Loaded using pd.read_excel().\n    (iii)JSON (JavaScript Object Notation): A structured format often used in APIs and web data. Read using pd.read_json().\n    (iv) SQL Databases: Structured data stored in relational databases. Accessed through pd.read_sql() in combination with a database connection (e.g., via SQLAlchemy).\n Each format has its own structure and use cases. Knowing how to work with all of them ensures flexibility in data handling.\n\n2. Displaying Summary Statistics\nOnce data is imported, it is crucial to understand its characteristics before analysis. Pandas provides:\ndf.describe() – Computes summary statistics (mean, median, std, etc.) for numerical columns.\ndf.info() – Shows data types and non-null counts.\ndf.isnull().sum() – Identifies missing values.\ndf.dtypes – Reveals the data types of each column.\ndf.corr() – Calculates correlation coefficients between numerical columns to detect linear relationships.\n\nPrerequisites:\n•\tBasic knowledge of Python programming.\n•\tPython environment setup with the necessary libraries installed.\n\nRequired Libraries\nEnsure the following libraries are installed.\n1.\tPandas\n2.\tNumpy\n3.\tOpenpyxl\n4.\tXlrd\n5.\tSqlalchemy\nCommand to install using pip:\npip install pandas numpy openpyxl xlrd sqlalchemy"

In [2]:
#Program
#Step I: Import required libraries
import pandas as pd
import numpy as np
from sqlalchemy import create_engine

In [3]:
''' Step 2: Loading Data from Different File Formats
Create Sample Data:'''
# Create a sample data file using pandas
data = pd.DataFrame({
    'ID': [1, 2, 3, 4, 5],
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'Age': [25, 30, 35, 40, 45],
    'Salary': [50000, 60000, 70000, 80000, 90000]
})
data

   ID     Name  Age  Salary
0   1    Alice   25   50000
1   2      Bob   30   60000
2   3  Charlie   35   70000
3   4    David   40   80000
4   5      Eva   45   90000

In [4]:
# Convert the data in different file formats:
#1.CSV files:
data.to_csv('sample_data.csv', index=False)
#2. Excel files:
data.to_excel('sample_data.xlsx', index=False)
#3. JSON files:
data.to_json('sample_data.json', orient='records')
#4. SQL Databases
engine = create_engine('sqlite:///sample_data.db')
_=data.to_sql('sample_table', engine, index = False, if_exists='replace')

In [5]:
#Load the data
csv_data = pd.read_csv('sample_data.csv')
excel_data = pd.read_excel('sample_data.xlsx')
json_data = pd.read_json('sample_data.json', orient='records')
sql_data = pd.read_sql('SELECT * FROM sample_table',engine)
sql_data

   ID     Name  Age  Salary
0   1    Alice   25   50000
1   2      Bob   30   60000
2   3  Charlie   35   70000
3   4    David   40   80000
4   5      Eva   45   90000

In [6]:
#Display Summary Statistics
#Create a function to display summary statistics:
def display_summary_statistics(data):
    print('Results')
    print('Head of the data:\n',data.head())
    print('\nSummary Statistics:\n',data.describe())
    print('\nData types:\n', data.dtypes)
    print('\nMisssing Values:\n',data.isnull().sum())
    numeric_data = data.select_dtypes(include = 'number')
    print ('Correlataions:\n', numeric_data.corr())

In [7]:
display_summary_statistics(data)

Results
Head of the data:
    ID     Name  Age  Salary
0   1    Alice   25   50000
1   2      Bob   30   60000
2   3  Charlie   35   70000
3   4    David   40   80000
4   5      Eva   45   90000

Summary Statistics:
              ID        Age        Salary
count  5.000000   5.000000      5.000000
mean   3.000000  35.000000  70000.000000
std    1.581139   7.905694  15811.388301
min    1.000000  25.000000  50000.000000
25%    2.000000  30.000000  60000.000000
50%    3.000000  35.000000  70000.000000
75%    4.000000  40.000000  80000.000000
max    5.000000  45.000000  90000.000000

Data types:
 ID         int64
Name      object
Age        int64
Salary     int64
dtype: object

Misssing Values:
 ID        0
Name      0
Age       0
Salary    0
dtype: int64
Correlataions:
          ID  Age  Salary
ID      1.0  1.0     1.0
Age     1.0  1.0     1.0
Salary  1.0  1.0     1.0